@use '../abstracts/variables'as *;
@use '../abstracts/anim'as *;

.arrow{
        fill: $C_E84E32;
        width: 40px;
        height: 40px;

        &:hover {
            animation: $rotate .5s ease-in-out forwards;
        }
}

[class*="__navigation"] {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 30%;
    a{
            display: inherit;
            align-items: center;
            p{

                font-size: 20px;
            }
        }
}