@use '../abstracts/variables'as *;

@use '../anim/rotate'as *;

.preview{
    display: inline-flex;
    align-items: center;
    font-family: $popins_medium;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 2.5px;

    .arrow{
        height: 20px;
        width: 20px;
    }
    &:hover{
        .arrow{
            animation: $rotate .5s ease-in-out forwards;
        }
    }
}