@use '../../scss/abstracts/'as *;

.JHV{
    width: calc(100% - #{$col-left} - #{$col-right});
    margin: 25px $col-left auto;
    
    &__presentation{
        margin: 20px 0;
        align-items: baseline;
    }

    &__title{
        @extend .col-6, .col-sm-3,
        .col-md-2, .col-md-offset-1;
        
        h1{
            font-family: $popins_regular;
            font-size: 35px;
            padding: 5px 0
        }
    }

    &__year{
        @extend .col-3, .col-sm-1;
        p {
            font-family: $popins_bold;
            font-size: 20px;
        }
    }
    &__type{
        @extend .col-3, .col-sm-2;
        margin-bottom: 50px;
        p{
            color: $C_71816D;
            font-size: 15px;
        }
        text-align: right;
        text-transform: uppercase;
    }

    &__content {
        @extend .col-6,
        .col-sm-3, .col-sm-offset-3;

        p {
            color: $C_461108;
            font-size: 25px;
            line-height: 1.15;
        }
    }

    &__grid > * {
        margin-bottom: $gutter;
    }

    &__item-0 {
        @extend .col-6;
        .img{
            @extend .col-md-4;
            padding: 0;
        }
    }
    &__item-1 {
        @extend .col-6,
        .col-md-2;

        background-color: $C_461108
    }
    &__item-2 {
        @extend .col-6,
        .col-md-2,
        .col-md-offset-1;

        background-color: $C_461108
    }

    

    &__item-3, &__item-2 {
        @extend .col-6, .col-md-3;
    }
    
    &__item-4{
        @extend .col-6, .col-md-4;
    }
    &__item-5{
        @extend .col-2;
    }
}


/* 
Pour gerer l'order des différentes div il est nécessaire d'utiliser la proprieté : order.
Possibilité de donner une taille au contenur (&__item-(numero)) et à l'image différente. 







*/