$LetterMove : LetterMove;

@keyframes LetterMove {
    0% {
        transform: translateY(100%) scale(0);
        clip-path: circle(0% at 0% 100%);
    }
    

    100% {
        clip-path: circle(150% at 0% 100%);
    }
}