@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/extend' as *;

$EcartToRight: 15vw;

.Contact {
    @extend .height-content;
    display: flex;
    align-items: center;

    &_content {
        width: calc(100% - #{$EcartToRight});
        transform: translateX(#{$EcartToRight});
        font-family: $popins_black;
        font-size: clamp(4rem, 5.556vw, 8rem);
        line-height: clamp(2rem, 2.778vw, 4rem);

        span {
            position: relative;
            font-family: $popins_bold;
            font-size: clamp(2rem, 2.778vw, 4rem);
            line-height: 1.2rem;
        }
    }
}