@use './variables' as *;

html {
    // permet d'enlever la barre de défilement vérticale.

    scrollbar-color: unset;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        width: 0px;
        color: unset;
    }
    
    ::-webkit-scrollbar-button {
        color: unset;
    }

    scroll-behavior: smooth;

    // personne qui on des soucis de motricité
    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }

    cursor: none;
    color: $C_E84E32;
    background-color: $Bg; // couleur de l'élément racine pour le contexte d'empilement //
    // background-color: white; // couleur de l'élément racine pour le contexte d'empilement //
    
    overflow-x: hidden; // evite les décalages horizontales 
    
    ::selection{
        background-color:  $C_170805;
        color: $C_71816D;

    }
    body{
        background-color: inherit; // couleur de l'élément pour le contexte d'empilement //
    }

    h2, h1{
        font-family: $popins_bold;
        font-size: 1.5rem;
    }

    p{
        font-family: $popins_regular;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    a, button{
        color: $C_E84E32;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }
}





