@use './variables' as *;
@use './mixins' as *;

.height-content {
    min-height: calc(100vh - #{$height-max});
    
    // max-width : 1279.98px
    @include media-breakpoint-down(lg) {
        height: auto;
        
    }
}