@use "../../abstracts/variables"as *;
@use "../../components/filets"as *;
@use "../../mixins/col"as *;



.poetique_row {
    @extend .col-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xl-5,
    .col-xxl-5,
    .col-lg-offset-1,
    .col-xl-offset-1,
    .col-xxl-offset-1;

    .separate {
        display: block;
        @include filet(75%, .5rem, $C_E84E32);
    }

    .separate:nth-of-type(1) {
        margin: clamp(7.5px, 1.042vw, 15px) 0 0;
    }

    .separate:nth-of-type(2) {
        margin: 0 0 clamp(7.5px, 1.042vw, 15px);
    }

    pre {
        font-family: $popins--italic;
        white-space: pre-wrap;
        // word-break: break-all;
        font-size: clamp(1.5rem, 1.528vw ,2.2rem);
        line-height: 1.5;
    }
}