@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

header{
    @include display($justify : space-between);
    flex-wrap: wrap;
    margin-top: clamp(2.5rem, 2.778vw, 4rem);
    
    /* header in size 1024px à ne pas mettre en flex-wrap*/
    @include media-breakpoint-between(lg, xl){
        flex-wrap: nowrap;
    }

    nav {
        font-family: $popins_regular;
        font-size: clamp(1.2rem, 1.042vw, 1.5rem);
        line-height: clamp(1.6rem, 1.736vw, 2.5rem);
        width: 50%;

        //min-width : 1280px
        @include media-breakpoint-up(xl) {
            width: $col-right;
            display: inherit;
            justify-content: flex-end;
            
            ul {
                flex-direction: column;
                display: inherit;

                li {
                    margin-bottom: .5rem;
                    text-align: right;
                }
            }
        }

    }
}