@use '../../scss/abstracts/'as *;

$coeff: 50px;

.project {
    @extend .height-content;

    font-family: $popins_regular;
    font-size: 3rem;
    position: relative;
    margin-left: $col-left;
    width: 75.5%;

    @include media-breakpoint-down(lg){
        margin: 10px auto;
    }

    @include media-breakpoint-up(lg) {
        @for $i from 1 through 10 {
            li:nth-of-type(#{$i}) {
                position: absolute;
                transform-origin: top left;
                transform: rotate(-45deg);
                top: 50%;
                left: calc(#{$coeff} * #{$i});
            }
        }
    }
}