@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

$coeff: 10vw; // 13 rem // 9.028vw
$numOfelement : 5;

.project_container {
    // @extend .height-content;
    height: clamp(25rem, 24.306vw, 35rem);
    position: relative;
    

    @include media-breakpoint-down(lg) {
        width: 95%;
        height: auto;
        margin: 10px auto;
    }
}

// .project agit sur la UL
.project {
    // agit sur la li .link__project{}

    .link__project_name {
        font-size: clamp(2rem, 3.125vw, 4rem);
        font-family: $popins_bold;
        line-height: 100%;
    }

    .link__project_cover {
        img {
            display: none;
        }
    }


    // Responsive //
    @include media-breakpoint-down(lg) {
        .link__project {
            margin-bottom: 10px;
        }
    }


    // pour les écrans supérieurs à 1024
    @include media-breakpoint-up(lg) {
        
        .link__project {
            position: absolute;
            top: 85%;
            transform-origin: top left;
            transform: rotate(-40deg);
            // transform: translateX(-#{$coeff}) rotate(-45deg);
            
        }

        @for $i from 1 through $numOfelement {
            .link__project:nth-of-type(#{$i}) {
                left: calc(#{$coeff} * #{$i});
            }
        }

        .link__project_box {
            padding: .52vw 0 1.05vw 1.05vw; // padding: 10px 0px 20px 20px;
        }

        .link__project_name {
            display: inline;
            height: 100%;
        }

        // classe ajoutée sur les liens inactifs
        .blur {
            opacity: .25;
            transition: all .8 $ease-material;
        }

        // classe ajoutée que la souris entre sur la box
        .link__project_box--hover {
            position: relative;
            transition: opacity .3s ease-in-out;

            .link__project_name {
                font-size: clamp(2rem, 3.125vw, 3rem);
                font-family: $popins--italic;
                display: block;
                transform: translateX((calc(23vw - #{$coeff}))); //20vw
                padding: 1.05vw .52vw 1.05vw 3.13vw; // padding: 20px 10px 20px 60px;
                transition: all .5s $ease-material;
            }

            .link__project_cover {
                position: absolute;
                left: 0;
                top: -11vw;
                width: 16vw;
                height: 16vw;

                img {
                    display: block;
                    position: relative;
                }
            }

            .typeOfLink {
                display: none;
            }
        }

        // agit au hover des liens
        a:hover>.link__project_cover {

            &::before {
                content: '';
                font-family: $popins_light;
                font-size: 5rem;
                background-color: $C_E84E32;
                position: absolute;
                width: 1vw;
                height: 1vw;
                border-radius: 50%;
                top: calc(50% - 0.5vw);
                left: calc(50% - 0.5vw);
                z-index: 999999;
                
                transition: all .5s $ease-material;
            }
        }

        a:hover>.link__project_cover:hover::before {
            mix-blend-mode: darken;
            opacity: .8;
            border-radius: 0%;
            transform: scale(18);
        }

        //~ permet d'agir sur des classes css de même niveau dans l'arbre.
        .link__project_name:hover~.link__project_cover::before {
            opacity: 0;
        }


    }
    
    // pour les écrans supérieurs à 1441
    @include media-breakpoint-up(xxl){
        .link__project_name {
            font-size: clamp(2rem, 3.125vw, 5rem);
        }
    }
}