@use '../../scss/abstracts/'as *;

$coeff: 50px;

.Content {
    position: relative;
    margin-left: $col-left;
    height: calc(100vh - #{$height-max});
    width: 75.5%;
    @include display();
    font-family: $popins_regular;
    font-size: 3rem;

    .project {
        @include media-breakpoint-up(lg) {
            /*boucle sur les li permettant d'appli*/
            @for $i from 1 through 10 {
                li:nth-of-type(#{$i}) {
                    position: absolute;
                    transform-origin: top left;
                    transform: rotate(-45deg);
                    left: calc(#{$coeff} * #{$i});
                    // on ne peut pas multiplier des px entres eux, seulement des nombres sans unité(px).
                }
            }
        }
    }
}