@use '../../scss/abstracts/'as *;


.toSite{
    &_box{
        margin-bottom: 60px
    }

    &_col{
        @extend .col-1,
        .col-sm-1,
        .col-md-1,
        .col-lg-1,
        .col-xl-1,
        .col-xxl-1;
    }
    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 15px;
        border-radius: 50%;
        width: 100%;
        border: 2px solid $C_E84E32;
        transform: rotate(45deg);
        transition: all .3s $ease-material;


        span {
            display: block;
            font-family: $popins_bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: $C_E84E32;
            font-size: 20px;
            transform: translateY(-5px);
        }

        svg {
            width: 60px;
            transform: translateY(-5px);
            margin-bottom: 10px;
            fill: $C_E84E32;

            
        }

        &:hover{
            svg{fill: white}
            span{color: white;}
            background-color: $C_E84E32;
        }
    }

}
