@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/anim' as *;

footer {
    @include display();
    justify-content: flex-end;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 25px;
    font-family: $popins_regular;
    // max-width : 1279.98px
    @include media-breakpoint-down(md) {
        margin: 0 auto;
        width: 90%;
    }

    nav {
        align-self: flex-end;
        font-size: clamp(1.2rem, 1.042vw, 1.5rem);
        line-height: clamp(1.6rem, 1.736vw,2.5rem);
        position: relative;
        display: inherit;
        justify-content: center;
        width: 50%;

        @include media-breakpoint-between(lg, xl){
            width : 25%;
        }

        //min-width : 1280px
        @include media-breakpoint-up(xl){
            width: $col-right;
        }
        .svg_box{
            max-width: 75%;
            width: 75%;
            max-height: 75%;
            height: 75%;
            position: relative;
            overflow: hidden;

            svg {
                stroke: $C_E84E32;
                fill: none;
                animation: $rotate 8s linear infinite;
                
            }
        }
        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(30deg);
            text-align: center;
        }
    }

    .copyright{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 50px;
        margin-top: 50px;
        padding: 25px 0 10px; 
        border-top: 4px solid $C_E84E32;
        border-left: 4px solid $C_E84E32;
        color: $C_E84E32;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
    }
}